article
  header
    h1 About thetallgrass.net

  section
    p #{link_to t("site.title"), root_url} is a Pokémon fan site, dedicated to
      providing quality original content, a reliable and thorough database, and a
      place for fans to research, share, and communicate about all things
      Pokémon. New features and content are being added regularly, with the goal
      of being the most advanced, accessible, and easy-to-use Pokémon fan site
      on the Internet.
    p Development of thetallgrass.net takes place publicly on
      #{link_to "GitHub", "https://github.com/thetallgrassnet/pokesite", target: :_blank},
      and the site's source code is published under the open-source
      #{link_to "Apache License", "http://www.apache.org/licenses/LICENSE-2.0", target: :_blank}.
      All other content on this site (unless otherwise noted) is published under
      the
      #{link_to "Creative Commons Attribution-ShareAlike 4.0 International License", "http://creativecommons.org/licenses/by-sa/4.0/", target: :_blank}.
      Basically, this means that you can re-use any part of this site, either
      its contents or its source code, as long as you give credit to the
      original creator. (See the full text of each license for more details.)

  section
    header
      h2 About the developer

    p thetallgrass.net is the brainchild of
      #{link_to "Jesse B. Hannah", "https://jbhannah.net", target: :_blank}, a
      web developer from Tucson, Arizona, whose first website at was
      #{link_to "a Pokémon fan site", "https://github.com/jbhannah/jps1", target: :_blank},
      published in 2000 when he was 11. His mom was teaching herself HTML in
      order to make her own website
      (#{link_to "Nephrite & Naru's Place", "http://www.nntreasury.com/", target: :_blank},
      still the largest fan shrine to her two favorite Sailor Moon characters);
      he saw what she was doing and said, "hey, that looks neat, I want to try."
    p After #{Date.today.year - 2001} years and four revisions of his first
      site, Jesse now works as a professional web developer, and launched
      thetallgrass.net in 2016 as a return to his origins in both web design and
      Pokémon fandom. He and his wife Jill first bonded over playing and talking
      about Pokémon together; they now live in Chandler, Arizona, with their two
      daughters, a dog, a bird, two cats, and a few thousand Pokémon between
      them.
