@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";
@import "grid";
@import "medium-editor/medium-editor";
@import "medium-editor/themes/default";
@import "medium-editor-insert-plugin/medium-editor-insert-plugin";
@import "editable";

body {
  padding-top: $navbar-height;
}

header {
  @media(min-width: $screen-sm-min) {
    .btn {
      margin-top: 25px;
      float: right;
    }
  }
}

table {
  ul.list-inline {
    margin-bottom: 0;
  }

  td.table-actions {
    width: 1px;
    white-space: nowrap;
  }
}

form {
  .actions {
    margin-top: 1rem;
  }
}
