@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise";

body > .container > div {
  @include make-row();
}

#header #logo {
  display: block;
}

#flash .alert-box {
  &:first-child {
    margin-top: 1.25rem;
  }
}

input ~ .hint {
  display: block;
  margin: -1rem 0 1rem;
  font-size: 70%;
  color: $gray-light;
}

input.error ~ .hint {
  display: none;
}
