@import "foundation_and_overrides";
@import "devise";

body > section {
  @include grid-row();

  .content {
    @include grid-column($columns: 12);
  }
}

#flash {
  @include grid-row();

  .alert-box {
    @include grid-column($columns: 12);

    &:first-child {
      margin-top: 1.25rem;
    }
  }
}

input ~ .hint {
  display: block;
  margin: -1rem 0 1rem;
  font-size: 70%;
  color: $small-font-color;
}

input.error ~ .hint {
  display: none;
}
