@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "grid";
@import "devise";

#header #logo {
  display: block;
}

.navbar {
  @media(max-width: $screen-sm-max) {
    margin-left: $grid-gutter-width / -2;
    margin-right: $grid-gutter-width / -2;
  }
}

input ~ .hint {
  display: block;
  margin: -1rem 0 1rem;
  font-size: 70%;
  color: $gray-light;
}

input.error ~ .hint {
  display: none;
}

#footer {
  > div {
    @include make-xs-column($columns: 12);
    @include make-md-column($columns: 6);

    &:last-child {
      @media(min-width: $screen-md-min) {
        text-align: right;
      }
    }
  }
}
