@import "foundation_and_overrides";
@import "devise";

body > div {
  @include grid-row();
}

#header #logo {
  @include grid-column($columns: 8);

  display: block;
}

#flash .alert-box {
  @include grid-column($columns: 11, $center: true);

  &:first-child {
    margin-top: 1.25rem;
  }
}

input ~ .hint {
  display: block;
  margin: -1rem 0 1rem;
  font-size: 70%;
  color: $small-font-color;
}

input.error ~ .hint {
  display: none;
}
