$devise-margin: 3rem;

body.devise, body.user.registrations {
  fieldset {
    @include make-sm-column($columns: 6);
    @include make-sm-column-offset($columns: 3);
    @include make-md-column($columns: 4);
    @include make-md-column-offset($columns: 4);

    margin-top: $devise-margin;
    margin-bottom: $devise-margin;
  }
}
